html{
	background-color: #F0D9FF;
	color: #112031;
	font-family: 'Ubuntu', sans-serif;
}

td{
	text-align: center;
}

table,td,th{
	border: solid purple 2px;
	border-collapse: collapse;
	margin: 20px;
	padding: 10px;
}
#main-pic{
	box-shadow: 10px 10px #DC96F7;
	border-radius: 50%;
}

.footer{
	background-color: #2a0638;
	color: #ece3ee;
	margin-top: 3%;
	padding: 10%;
}